<% @title = "Diagnosis Report" %>

<% vars = {"blood" => ["Blood Test", @blood], "anthropometry" => ["Anthropometry", @anthropometry], "urine" => ["Urine Test", @urine], "other" => ["Others", @other]} %>

<div class="diag_show">
  <div class="row-fluid">
    <%= render :partial => "diagnoses/summary" %>
  </div>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <% vars.each_pair do |key, value| %>
        <% active = @diag_tab.present? ? @diag_tab == key : key == 'blood' %>
        <li class="<%= active ? 'active' : '' %>">
          <a href="#<%= key %>" data-toggle="tab"><%= value[0] %></a>
        </li>
      <% end %>
    </ul>

    <div class="tab-content">
      <% vars.each_pair do |key, value| %>
        <% active = @diag_tab.present? ? @diag_tab == key : key == 'blood' %>
        <div class="tab-pane <%= active ? 'active' : '' %>" id="<%= key %>">
          <%= render :partial => "diagnoses/details_form", :locals => {:object => value[1], :object_symbol => key.to_sym} %>
        </div>
      <% end %>
    </div>
  </div>
</div>