<!DOCTYPE html>
<html>
<head>
  <title>Dcare</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <%= render :partial => "common/top_navigation" %>

  <div class="container-fluid centered_content">
    <%= render :partial => "common/inner_header" %>
    <div class="row-fluid">
      <div class="span12"><%= yield %></div>
    </div>
  </div>

  <footer class="footer">
    <p>&copy; Company 2012</p>
  </footer>

</body>
</html>
